.menu-link {
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.753);
  margin: 0px 6px;
  padding: 4px 8px;
  text-decoration: none;
}
.menu-link:hover {
  color: #ff0143;
}
.logo {
  color: #ff0143;
  font-size: 25px;
  font-weight: 600;
}
.login-btn {
  color: #ff0143;
  padding: 0 6px;
}
